* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #000000;
    width: 33%;
    height: 96vh;
}

header {
    background-color: #5a69d2;
    color: #000000;
    padding: 2rem;
    margin: 4%;
    text-align: center;
    height: 11vh;
}

nav {
    background-color: #58b8c5;
    color: #000000;
    padding: 2rem;
    margin: 4%;
    text-align: center;
    height: 11vh;
}

main {
    background-color: #000000;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

.container-main {
    width: 66%;
}

section {
    background-color: #f6d456;
    color: #000000;
    padding: 2rem;
    margin: 4%;
    text-align: center;
    height: 22vh;
}

article {
    background-color: #e98266;
    color: #000000;
    padding: 4%;
    margin: 4%;
    text-align: center;
    height: 22vh;
}

aside {
    background-color: #ffffff;
    color: #000000;
    padding: 2rem;
    margin: 4%;
    text-align: center;
    height: 45vh;
    width: 33%;
}

footer {
    background-color: #5a69d2;
    color: #000000;
    padding: 2rem;
    margin: 4%;
    text-align: center;
    height: 11vh;
}